<h2 class="crearLibro-text">Crear nueva categoría</h2>
<div class="linea-libros"></div>

<section class="crearlibro-section container">

<form action="/categoria/crear" method="post">

<div class="mb-3 group-input">
  <label for="nombre-categoria" class="form-label">Nombre de la categoría <span class="asterisco">*</span></label>
  <input type="text" class="form-control" id="nombre-categoria" name="nombrecategoria" placeholder="Ej. Realismo mágico" required>
</div>

<div class="mb-3 group-input">
  <label for="descripcion-categoria" class="form-label">Descripción <span class="asterisco">*</span></label>
  <input type="text" class="form-control" id="descripcion-categoria" name="descripcioncategoria" placeholder="Ej. Libros del género realismo mágico" required>
</div>

<div class="botones">
    <button type="submit" class="btn btn-success btn-crarlibro" >Crear categoría</button>
    <a type="button" class="btn btn-outline-secondary bt-cancelar" href="/categoria">Cancelar</a>
</div>

</form>

</section>
