<h2 class="crearLibro-text">Crear nuevo autor</h2>
<div class="linea-libros"></div>

<section class="crearlibro-section container">

<form action="/autores/crear" method="post">

<div class="mb-3 group-input">
  <label for="nombre-autor" class="form-label">Nombre del autor <span class="asterisco">*</span></label>
  <input type="text" class="form-control" id="nombre-autor" name="nombreautor" placeholder="Ej. Gabriel García Márquez" required>
</div>

<div class="mb-3 group-input">
  <label for="correo-autor" class="form-label">Correo <span class="asterisco">*</span></label>
  <input type="email" class="form-control" id="correo-autor" name="correoautor" placeholder="Ej. autor@correo.com" required>
</div>

<div class="botones">
    <button type="submit" class="btn btn-success btn-crarlibro" >Crear autor</button>
    <a type="button" class="btn btn-outline-secondary bt-cancelar" href="/autores">Cancelar</a>
</div>

</form>

</section>
