
<h2 class="crearLibro-text">Crear nuevo libro</h2>
<div class="linea-libros"></div>

<section class="crearlibro-section container">

<form action="" method="get">


<div class="mb-3 group-input">
  <label for="titulo-libro" class="form-label">Título del libro <span class="asterisco">*</span></label>
  <input type="text" class="form-control" id="titulo-libro" placeholder="Ej. Cien anos de soledad" required>
</div>

<div class="mb-3  group-input">
  <label for="ano-pulicacion" class="form-label">Año de publicación <span class="asterisco">*</span></label>
  <input type="number" class="form-control" id="ano-pulicacion" placeholder="Ej. 1967" required>
</div>

<div class="mb-3  group-input">
  <label for="url-img" class="form-label">URL de la imagen de portada <span class="asterisco">*</span></label>
  <input type="url" class="form-control" id="url-img" placeholder="https://..." required>
</div>

<div class="select">
    <label for="">Categoría <span class="asterisco">*</span></label>
    <select class="form-select" aria-label="Default select example" required>
  <option >Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
</div>

<div class="select">
    <label for="">Autor <span class="asterisco">*</span></label>
    <select class="form-select" aria-label="Default select example" required>
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
</div>


<div class="select">
    <label for="">Editorial <span class="asterisco">*</span></label>
    <select class="form-select" aria-label="Default select example" required>
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3" >Three</option>
</select>
</div>

<div class="botones">
    <button type="submite" class="btn btn-success btn-crarlibro" >Guardar libro</button>
    <a type="button" class="btn btn-outline-secondary bt-cancelar" href="/libros">Cancelar</a>

</div>


</form>

</section>
