<h2 class="crearLibro-text">Crear nueva editorial</h2>
<div class="linea-libros"></div>

<section class="crearlibro-section container">

<form action="/editoriales/crear" method="post">

<div class="mb-3 group-input">
  <label for="nombre-editorial" class="form-label">Nombre de la editorial <span class="asterisco">*</span></label>
  <input type="text" class="form-control" id="nombre-editorial" name="nombreeditorial" placeholder="Ej. Editorial Sudamericana" required>
</div>

<div class="mb-3 group-input">
  <label for="telefono-editorial" class="form-label">Teléfono <span class="asterisco">*</span></label>
  <input type="text" class="form-control" id="telefono-editorial" name="telefonoeditorial" placeholder="Ej. 809-000-0000" required>
</div>

<div class="mb-3 group-input">
  <label for="pais-editorial" class="form-label">País <span class="asterisco">*</span></label>
  <input type="text" class="form-control" id="pais-editorial" name="paiseditorial" placeholder="Ej. Argentina" required>
</div>

<div class="botones">
    <button type="submit" class="btn btn-success btn-crarlibro" >Crear editorial</button>
    <a type="button" class="btn btn-outline-secondary bt-cancelar" href="/editoriales">Cancelar</a>
</div>

</form>

</section>
