<h2 class="crearLibro-text">Editar categoría</h2>
<div class="linea-libros"></div>

<section class="editarlibro-section container">

<form action="/categoria/editar/{{categoria.categoriaid}}" method="post">

<div class="mb-3 group-input">
  <label for="nombre-categoria" class="form-label">Nombre de la categoría <span class="asterisco">*</span></label>
  <input type="text" class="form-control" id="nombre-categoria" name="nombrecategoria" value="{{categoria.nombrecategoria}}" required>
</div>

<div class="mb-3 group-input">
  <label for="descripcion-categoria" class="form-label">Descripción <span class="asterisco">*</span></label>
  <input type="text" class="form-control" id="descripcion-categoria" name="descripcioncategoria" value="{{categoria.descripcioncategoria}}" required>
</div>

<div class="botones">
    <button type="submit" class="btn btn-success btn-crarlibro" >Guardar categoría</button>
    <a type="button" class="btn btn-outline-secondary bt-cancelar" href="/categoria">Cancelar</a>
</div>

</form>

</section>
