<h2 class="crearLibro-text">Editar editorial</h2>
<div class="linea-libros"></div>

<section class="crearlibro-section container">

<form action="" method="get">


<div class="mb-3 group-input">
  <label for="titulo-libro" class="form-label">Nombre de la editorial <span class="asterisco">*</span></label>
  <input type="text" class="form-control" id="titulo-libro" placeholder="Editorial Sudamericana" required>
</div>


<div class="mb-3 group-input">
  <label for="titulo-libro" class="form-label">Teléfono  <span class="asterisco">*</span></label>
  <input type="text" class="form-control" id="titulo-libro" placeholder="+54 11 4322-8888" required>
</div>


<div class="mb-3 group-input">
  <label for="titulo-libro" class="form-label">País de la editorial  <span class="asterisco">*</span></label>
  <input type="text" class="form-control" id="titulo-libro" placeholder="argentina" required>
</div>



<div class="botones">
    <button type="submite" class="btn btn-success btn-crarlibro" >Guardar categoria</button>
    <a type="button" class="btn btn-outline-secondary bt-cancelar" href="/editoriales">Cancelar</a>

</div>


</form>

</section>