<section class="home-head">
    <img src="" alt="">

    <div class="home-text-head">
        <h1 class="home-title">Catálogo de Libros</h1>
        <p class="home-text">Explora nuestra colección completa de títulos disponibles</p>
    </div>
</section>

<section class=" container buscar-section ">

    <form action="" method="get">
    
    <div class="row buscar-container">
    <div class="col-lg-5 col-md-12 ">

  <label for="buscar-Bytitulo" class="form-label">Buscar por título</label>
  <input type="text" class="form-control buscar-Bytitulo" id="buscar-Bytitulo" placeholder="Buscar por titulo del libro..">

    </div>

    <div class="col-lg-5 col-md-6 ">

        <label for="">Filtrar por categorías</label>

<div class="checkbox-container">


</div>


    </div>

  <div class="col-lg-2 col-md-6">
          <button class="  btn-filtrar   " type="submit"><img src="" alt=""> Filtrar</button>

  </div>
   
  </div>







</form>
    
</section>


<section class="libros">
  
     <div class="card" style="width: 18rem;" >
        <a href="/info-libro">

  <img src="https://th.bing.com/th/id/OIP.bFO9PaEWo12Rznf3cEhKUQHaFE?w=230&h=180&c=7&r=0&o=7&dpr=1.8&pid=1.7&rm=3" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-year"><img src="" alt=""> 1394</p>
    <div class="card-category">category</div>
        <p class="card-autor"><img src="" alt="">jarol j. williams</p>
    <p class="card-editorial"><img src="" alt=""> editorial sudamericana</p>

  </div>
    </a>

</div>
</section>
