<section class="home-head">
    <img src="" alt="">

    <div class="home-text-head">
        <h1 class="home-title">Catálogo de Libros</h1>
        <p class="home-text">Explora nuestra colección completa de títulos disponibles</p>
    </div>
</section>

<section class=" container buscar-section ">

    <form action="" method="get">
    
    <div class="row">
    <div class="col-lg-6 col-md-12 ">

  <label for="buscar-Bytitulo" class="form-label">Buscar por título</label>
  <input type="email" class="form-control buscar-Bytitulo" id="buscar-Bytitulo" placeholder="Buscar por titulo del libro..">

    </div>

    <div class="col-lg-6 col-md-12 ">

        <label for="">Filtrar por categorías</label>

<div class="checkbox-container">


</div>


    </div>
    <input class="btn btn-primary" type="submit" value="Submit">

   
  </div>





</form>
    
</section>


<section class="libros">
    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-year"><img src="" alt=""> 1394</p>
    <div class="card-category">category</div>
        <p class="card-autor"><img src="" alt="">jarol j. williams</p>
    <p class="card-editorial"><img src="" alt=""> editorial sudamericana</p>

  </div>
</div>
</section>
