


<div class="text-libros-container">
    <h2 class="title-libros">Mantenimiento de Libros</h2>
<p class="p-libros">Gestión completa del catálogo bibliográfico.</p>
</div>

<div class="linea-libros"></div>


<section class="libros-container">
    <div class="head-libros">
        <p class="registros-libros"> 1 registro</p>
        <a type="button" class="btn btn-success btn-crearlibro" href="/crearlibro">+ Crear libro nuevo</a>

    </div>

   <table class="libros-tabla">
  <thead>
    <tr class="tr-th">
      <th>PORTADA</th>
      <th>TITULO</th>
      <th>Año</th>
      <th>CATEGORIA</th>
      <th>AUTOR</th>
      <th>EDITORIAL</th>
      <th>ACCIONES</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <img class="img-libro" src="https://th.bing.com/th/id/OIP.bFO9PaEWo12Rznf3cEhKUQHaFE?w=230&h=180&c=7&r=0&o=7&dpr=1.8&pid=1.7&rm=3" alt="">
      </td>
      <td>cien anos de soledad</td>
      <td>1928</td>
      <td><div class="category-libro-table">realismo</div></td>
      <td>gabriel garcia marquone</td>
      <td>editorial sudamericana</td>
      <td>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
      </td>
    </tr>
  </tbody>
</table>

</section>

